# LIST

Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data.

Lists are created using square brackets.

List is an array of elements.

List elements heterogeneous(different) data types are allowed.

Duplicates are allowed.

List in list also works.

In [1]:
list1=[1,2,3,4]
list1          # You can write numbers

[1, 2, 3, 4]

In [2]:
list2=['A','B','C','D']
list2       # you can write strings

['A', 'B', 'C', 'D']

In [3]:
list3=[1,2,3,4,'A','B','C','D']
list3

[1, 2, 3, 4, 'A', 'B', 'C', 'D']

In [4]:
list4=[1,'Apple',10.5,10+20j,True]
list4

[1, 'Apple', 10.5, (10+20j), True]

In [5]:
list5=[100,100,100]
list5

[100, 100, 100]

In [6]:
list6=[[1,2,3,4]]
list6

[[1, 2, 3, 4]]

### type()

Lists are defined as objects with the data type 'list':

<class 'list'>

In [7]:
list4=[1,'Apple',10.5,10+20j,True]
type(list4)

list

In [8]:
list5=[[100,100,100]]
type(list5)

list

### Length

To determine how many items a list has, use the len() function.

In [9]:
list4=[1,'Apple',10.5,10+20j,True]
len(list4)

5

In [10]:
list5=[100,100,100]
len(list5)

3

In [11]:
list6=[[100,100,100]]
len(list6)

1

### Index

List items are indexed and you can access them by referring to the index number.

Note: The first item has index 0.

In [12]:
list4=[1,'Apple',10.5,10+20j,True]
list4[2]

10.5

In [13]:
list4[3]

(10+20j)

### Negative Indexing

Negative indexing means start from the end

-1 refers to the last item, -2 refers to the second last item etc.

In [14]:
list4=[1,'Apple',10.5,10+20j,True]
list4[-3]

10.5

In [15]:
list4=[1,'Apple',10.5,10+20j,True]
list4[-1]

True

In [16]:
list4=[1,'Apple',10.5,10+20j,True]
list4[-len(list4)]

1

### Range of Indexes

You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

Example:

In [17]:
list4=[1,'Apple',10.5,10+20j,True]
list4[1:]

['Apple', 10.5, (10+20j), True]

In [18]:
list4=[1,'Apple',10.5,10+20j,True]
list4[1:4]

['Apple', 10.5, (10+20j)]

In [19]:
list4=[1,'Apple',10.5,10+20j,True]
list4[:5]

[1, 'Apple', 10.5, (10+20j), True]

### slice

In [20]:
list4=[1,'Apple',10.5,10+20j,True]
list4[::1]

[1, 'Apple', 10.5, (10+20j), True]

In [21]:
list4=[1,'Apple',10.5,10+20j,True]
list4[1:len(list4):3]

['Apple', True]

In [22]:
list4=[1,'Apple',10.5,10+20j,True]
list4[::2]

[1, 10.5, True]

### Range of Negative Indexes

Specify negative indexes if you want to start the search from the end of the list.

In [23]:
list4=[1,'Apple',10.5,10+20j,True]
list4[-4:-1]

['Apple', 10.5, (10+20j)]

In [24]:
list4=[1,'Apple',10.5,10+20j,True]
list4[-1:-4]

[]

### slice

In [25]:
list4=[1,'Apple',10.5,10+20j,True]
list4[-1:-4:1]

[]

In [26]:
list4=[1,'Apple',10.5,10+20j,True]
list4[-1:-4:-1]

[True, (10+20j), 10.5]

In [27]:
list4=[1,'Apple',10.5,10+20j,True]
list4[2:len(list4):1]

[10.5, (10+20j), True]

In [28]:
list4=[1,'Apple',10.5,10+20j,True]
list4[2:len(list4):-1]

[]

In [29]:
list4=[1,'Apple',10.5,10+20j,True]
list4[2:-len(list4):-1]

[10.5, 'Apple']

In [30]:
list4=[1,'Apple',10.5,10+20j,True]
list4[-1::-1]

[True, (10+20j), 10.5, 'Apple', 1]

### IN

To determine if a specified item is present in a list use the in keyword

In [31]:
list1=[1,'a',5,[1,'b'],10]
list1

[1, 'a', 5, [1, 'b'], 10]

In [32]:
[1,'b'] in list1

True

### Loop

In [33]:
list1=[1,'a',5,[1,'b'],10]
for i in list1:
    print(i)

1
a
5
[1, 'b']
10

Loop Through the Index Numbers:

You can also loop through the list items by referring to their index number.

Use the range() and len() functions to create a suitable iterable.

In [35]:
list1=[1,'a',5,[1,'b'],10]
for i in range(len(list1)):
    print(list1[i])

1
a
5
[1, 'b']
10

You can loop through the list items by using a while loop.

Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by referring to their indexes.

Remember to increase the index by 1 after each iteration.

In [36]:
list1=[1,'a',5,[1,'b'],10]
i=0
while i<len(list1):
    print(list1[i])
    i=i+1

1
a
5
[1, 'b']
10

### Looping Using List Comprehension

List Comprehension offers the shortest syntax for looping through lists.

Example:

A short hand for loop that will print all items in a list;

In [37]:
list1=[1,'a',5,[1,'b'],10]
[print(i) for i in list1]

1
a
5
[1, 'b']
10

[None, None, None, None, None]

### List Comprehension

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

Example:

Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

Without list comprehension you will have to write a for statement with a conditional test inside.

#### The Syntax

newlist=[expression for item in iterable if condition == True]

The return value is a new list, leaving the old list unchanged.

The condition is like a filter that only accepts the items that valuate to True.

In [39]:
fruits=["apple","banana","cherry","kiwi","mango"]
newlist=[]
for x in fruits:
    if "a" in x:
        newlist.append(x)
print(newlist)

['apple', 'banana', 'mango']

In [40]:
fruits=["apple","banana","cherry","kiwi","mango"]
newlist=[x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

## ùëÄùë¢ùë°ùëéùëèùëíùëô

In [60]:
list1=['A','B','C']
list1[0]=100
list1

[100, 'B', 'C']

## Built-in Functions on Lists

Many built-in functions can be used with lists.

- max()         # return maximum element in the list

- min()         # return minimum element in the list

- sum()         # return sum of all elementsin the list

- any()         # return True if any element of list is True

- all()         # return True if all elements of list are True

- del()         # deletes element or slice or entire list

- sorted()      # return sorted list, list remains unchanged

- reversed()    # used forreversing list

### max()

In [41]:
list1=[1,2,3,4]
list2=['A','B','C','D']
list3=[1,2,3,4,'A','B','C','D']

In [42]:
print(max(list1))      # 4

4

In [43]:
print(max(list2))      # D ====== > ascii ord

D

In [44]:
print(max(list3))      # error we cant compare different data types

TypeError: '>' not supported between instances of 'str' and 'int'

### min()

In [45]:
list1=[1,2,3,4]
list2=['A','B','C','D']
list3=[1,2,3,4,'A','B','C','D']

In [46]:
print(min(list1))      # 1

1

In [47]:
print(min(list2))      # A ====== > ascii ord

A

In [48]:
print(min(list3))      # error we cant compare different data types

TypeError: '<' not supported between instances of 'str' and 'int'

### sum()

In [49]:
list1=[1,2,3,4]
list2=['A','B','C','D']

In [50]:
print(sum(list1))

10

In [51]:
print(sum(list2))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### any()

In [52]:
list3=[1,2,3,4,'A','B','C','D']
any(list3)

True

### all()

In [53]:
list3=[1,2,3,4,'A','B','C','D']
all(list3)

True

### del()

In [54]:
list3=[1,2,3,4,'A','B','C','D']
del(list3)

In [55]:
list3

NameError: name 'list3' is not defined

In [83]:
list3=[1,2,3,4,'A','B','C','D']
del(list3[2])
list3

[1, 2, 4, 'A', 'B', 'C', 'D']

### sorted()

In [56]:
list1=[35,97,1,76,34,'A']
sorted(list1)

TypeError: '<' not supported between instances of 'str' and 'int'

In [57]:
list1=[35,97,1,76,34]
sorted(list1)

[1, 34, 35, 76, 97]

### reversed()

In [58]:
list1=[35,97,1,76,34]
reversed(list1)

## list method

In [66]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

### append

 add (something) to the end of a written document.

In [61]:
list1=[100,200]
list1.append(300)
list1

[100, 200, 300]

In [62]:
list1=[1,2,3,4,5]
output=[]
for i in list1:
    output.append(i*i)
        
output

[1, 4, 9, 16, 25]

In [63]:
list2=['hyd','bengaluru','delhi']          # output=['Hyd','Bengaluru','Delhi']
output=[]
for i in list2:
    output.append(i.capitalize())
    
output

['Hyd', 'Bengaluru', 'Delhi']

### copy

In [64]:
list1=[1,2,3,4]                     # I wanat copy these elements in a list2

list2=list1.copy()

print('list2:',list2)                     # [1,2,3,4]

list2: [1, 2, 3, 4]

### clear

In [65]:
list1=[1,2,3,4]
list1.clear()
print('list1:',list1)             # []

list1: []

### count

In [67]:
list1=[1,2,3,'A','B','B','B','C']
list1.count('B')

3

In [68]:
count=0
for i in list1:
    if i=='B':
        count=count+1
        
print(count)

3

### extend

In [70]:
list1=['A','B','C']
list2=[1,2,3]

list1.extend(list2)
list1 

# here the list1 will be updated with list2 values

['A', 'B', 'C', 1, 2, 3]

In [71]:
list1=['A','B','C']               # ['A','B','C',[1,2,3]]
list2=[1,2,3]
list1.append(list2) 
list1

['A', 'B', 'C', [1, 2, 3]]

### concatenation

In [72]:
list1=['A','B','C']
list2=[1,2,3]
list1=list1+list2

print(list1)

['A', 'B', 'C', 1, 2, 3]

In [73]:
list1=[1,2,3]
list1.extend('python')
list1.append('python')
list1

[1, 2, 3, 'p', 'y', 't', 'h', 'o', 'n', 'python']

### pop

In [74]:
list1=[1,2,3,'p','y','t','h','o','n','python']
list1

[1, 2, 3, 'p', 'y', 't', 'h', 'o', 'n', 'python']

In [75]:
list1.pop()

'python'

In [76]:
list1

[1, 2, 3, 'p', 'y', 't', 'h', 'o', 'n']

In [77]:
list1
list1.pop(5)


# list1.pop(list1.index('t'))
# in side bracket default aragument is there  index=-1
# -1 means last value
# if you not provide any value 
# it will remove last value
# if i provide any index, it will reove that element 
# it is also returning , which element it is removing

't'

In [78]:
list1

[1, 2, 3, 'p', 'y', 'h', 'o', 'n']

### remove

In [79]:
list1=[100,200,100,300]
list1.remove(100)       # first occurence will gone
list1                   # it will not return any value

[200, 100, 300]

### index

In [80]:
list1=[1,2,3,4,2,6]
f_i=list1.index(2)
list1.index(2,f_i+1)

4

### insert

Adds an element at the specified position

In [92]:
list1=[1,2,3,4,2,6]
list1.insert(5,'A')
list1

[1, 2, 3, 4, 2, 'A', 6]

In [93]:
#  Insert the value "orange" as the second element of the fruit list:

fruits=['apple','banana','cherry']
fruits.insert(1,"orange")
fruits

['apple', 'orange', 'banana', 'cherry']

### ùëßùëñùëù

In [81]:
list1=[100,200,300]
list2=[25,30,35]

output=[i+j for i,j in zip(list1,list2)]
output

[125, 230, 335]

### sort

List objects have a sort() method that will sort the list alphanumerically, ascending, by default.

In [84]:
list1 = ["orange", "mango", "kiwi", "pineapple", "banana"]       # alphabetically
list1.sort()
print(list1)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [85]:
thislist = [100, 50, 65, 82, 23]         # numerically
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

- To sort descending, use the keyword argument reverse = True

In [86]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [87]:
list2 = [100, 50, 65, 82, 23]
list2.sort(reverse = True)
print(list2)

[100, 82, 65, 50, 23]

#### reverse

In [88]:
list3 = ["banana", "Orange", "Kiwi", "cherry"]
list3.reverse()
print(list3)

['cherry', 'Kiwi', 'Orange', 'banana']