# STRING

Strings in python are written by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function:

Example

print("Hello")      op-'Hello'

print('Hello')      op-'Hello'

In [1]:
'Hello'

'Hello'

In [2]:
"Hello"

'Hello'

In [3]:
print('hello')

hello

In [4]:
print("hello python")

hello python

## Assign String to a Variable

Assigning a string to a variable is done with the variable name followed by an equal sign and the string:
    
Example

a="Hello"

print(a)

In [5]:
a = "Hello"
print(a)

Hello

Suppose there is a string, if you want to highlight some letters or words you also use quotation mark inside the string. 

NOTE:
    If string in single quotation mark there is no single quotation mark use to highlight the strings and viceversa.

In [6]:
str1='python "hello"'
str1

'python "hello"'

In [7]:
str2='python "hello"'
str2

'python "hello"'

# Multiline Strings    or  Doc strings

You can assign a multiline string to a variable by using three quotes.

Note: in the result, the line breaks are inserted at the same position as in the code.

Example:

"""

    i am 
    
        creating 
    
    a hello function
    
                    """
                    
- Doc string is used to say some information about your python code.

In [10]:
"""
    i am 
        creating 
    a hello function
                    """

'\n    i am \n        creating \n    a hello function\n                    '

In [12]:
"""
    im creating a hello function
    arguments: None
    return:   None
                    """
def hello():
    print("good moring")
hello()

good moring

## Type

To get the type of a string, use the type() function.

Example:
    
str3="Hello, python"

print(type(str3))

In [14]:
str3="Hello, python"
type(str3)

str

In [18]:
str4='1,2,3,4,5'
type(str4)

str

## String Length

To get the length of a string, use the len() function.
    
The len() function returns the length of a string.

Example:

str3="Hello, python"

print(len(str3))

In [15]:
str3="Hello, python"
len(str3)

13

In [16]:
str3="Hello, python"
print(len(str3))

13

In [19]:
str4='1,2,3,4,5,15,a,b'
len(str4)

16

In [20]:
str5='123bg4515AF'
len(str5)

11

Example:
    
Get the character at position 1 (remember that the first character has the position 0):

string="Hello, python"

string[1]

In [21]:
string="Hello, python"
string[1]

'e'

In [22]:
string[6]

' '

In [23]:
string[10]

'h'

In [24]:
string[0]

'H'

## Looping through a String

Since strings are arrays, we can loop through the characters in a string, with a for loop.

Example:
    
str1="banana"

for i in str1:
    
    print(i)

In [25]:
str1="banana"
for i in str1:
    print(i)

b
a
n
a
n
a

#### index()

Searches the string for a specified value and returns the position of where it was found.

In [33]:
string1='welcome python'
string1.index('c')

3

In [34]:
# index value
string="Hello, python"
for i in range(len(string)):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12

In [66]:
string1='hai how are you'
string1.index('h')

0

In [67]:
string1='hai how are you'
string1.index('w')

6

In [35]:
string="Hello, python"
for i in range(len(string)):
    print(i,string[i])

0 H
1 e
2 l
3 l
4 o
5 ,
6
7 p
8 y
9 t
10 h
11 o
12 n

## IN

To check if a certain phrase or character is present in a string, we can use the keyword in.

Example

Check if "life" is present in the following string

string1="The best things in life is enjoy every moment"

if "free" in string1:
    
    print("life is present in the string1.")

range() : you need to provide number inside the range

in : is used only for strings

if you want print the letters using for loop go for in operator

In [29]:
string1="The best things in life is enjoy every moment"
if "life" in string1:
    print("'life' is present in the string1.")

'life' is present in the string1.

To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.

Example

string2="The best things in life is enjoy every moment"

if "tension" not in string2:
    
    print("'tension' is not present in string2.")

In [30]:
string2="The best things in life is enjoy every moment"
if "tension" not in string2:
    print("'tension' is not present in string2.")

'tension' is not present in string2.

In [34]:
string1='hai how are you and'
for i in range(len(string1)):
    if string1[i]=='a':
        print(i)

1
8
16

## Slicing

You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

Note: The first character has index 0.
    
Example:
    
Get the characters from position 2 to position 5

str11="Python is easy."

str11[2:5]

In [31]:
str11="Python is easy."
str11[2:5]

'tho'

#### Slice from the Start

By leaving out the start index, the range will start at the first character.

Example:
    
Get the characters from the start to position 5.

str11="Python is easy."

str11[:5]

In [32]:
str11="Python is easy."
str11[:5]

'Pytho'

#### Slice To the End

By leaving out the end index, the range will go to the end.

Example:
    
Get the characters from position 2 to the end:

str11="Python is easy."

str11[2:]

In [33]:
str11="Python is easy."
str11[2:]

'thon is easy.'

#### Negative Indexing

Use negative indexes to start the slice from the end of the string.

Example:
    
str11="Python is easy."

str11[-12:-1]

In [5]:
str11="Python is easy."
str11[15::-1]

'.ysae si nohtyP'

In [37]:
str11="Python is easy."
str11[-12:-1]

'hon is easy'

In [40]:
str11="Python is easy."
str11[-(len(str11)):-1]

'Python is easy'

In [3]:
str11="Python is easy."
str11[-1:-16:-1]

'.ysae si nohtyP'

## Modify Strings

#### Upper_Case

The upper() method returns the string in upper case:

Example:

In [44]:
str12="python is easy"
str12.upper()

'PYTHON IS EASY'

#### Lower_Case

The lower() method returns the string in lower case.

Example:

In [46]:
str13="pyTHOn is eAsY"
str13.lower()

'python is easy'

#### strip method  (Remove Whitespace )

Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

The strip() method removes any whitespace from the beginning or the end.

Example:

In [47]:
str14=" pyTHOn is eAsY "
str14.strip()

'pyTHOn is eAsY'

#### lstrip()

Returns a left trim version of the string.

In [1]:
str14=" pyTHOn is eAsY "
str14.lstrip()

'pyTHOn is eAsY '

#### rstrip()

Returns a right trim version of the string.

In [2]:
str14=" pyTHOn is eAsY "
str14.rstrip()

' pyTHOn is eAsY'

#### Replace_String

The replace() method replaces a string with another string.

Example:

In [48]:
str14=" pyTHOn is eAsY "
str14.replace("A","M")

' pyTHOn is eMsY '

In [49]:
str14

' pyTHOn is eAsY '

In [50]:
str14.replace("eAsY","easy")

' pyTHOn is easy '

#### Split_String

The split() method returns a list where the text between the specified separator becomes the list items.

The split() method splits the string into substrings if it finds instances of the separator.

Example

In [51]:
str15="hai, how are you?"
str15.split(",")

['hai', ' how are you?']

## Concatenation

To concatenate or combine two strings you can use the + operator.

In [52]:
str1='hai'
str2='how'
str1+str2

'haihow'

In [53]:
str1='hai'
str2='how'

In [54]:
str1-str2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [55]:
str1/str2

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [56]:
str1*str2

TypeError: can't multiply sequence by non-int of type 'str'

In [57]:
str1*5

'haihaihaihaihai'

#### capitalize()

Converts the first character to upper case.

In [59]:
strg1="pyTHOn is eAsY"
strg1.capitalize()

'Python is easy'

#### casefold()

Converts string into lower case.

In [60]:
strg1="pyTHOn is eAsY"
strg1.casefold()

'python is easy'

#### count()

Returns the number of times a specified value occurs in a string.

In [62]:
string1='hai how are you'
count=0
for i in range(len(string1)):
    if string1[i]=='a':
        count+=1
print(count)

2

In [11]:
string='hai how are you'
str1=''
count=0
for i in string:
    if i in 'aeiou':
        count=count+1
        
print(count)

7

#### find()

Searches the string for a specified value and returns the position of where it was found.

In [64]:
string1='hai how are you'
string1.find('h')

0

In [65]:
string1='hai how are you'
string1.find('w')

6

In [25]:
str1='jay.sahu@gmail.com'

num1=str1.find('.')
f_name=str1[:num1]
print(f_name)

num2=str1.find('@')
s_name=str1[num1+1:num2]
print(s_name)

num3=str1.find('.',str1.find('.')+1)
c_name=str1[num2+1:num3]
print(c_name)

jay
sahu
gmail

#### ùëöùëéùë• - ùëöùëñùëõ

In [1]:
string1='pP'
max(string1)   # python
# ASCII
# 'A': 65    'a':97

'p'

In [2]:
string1='pP'
min(string1)

'P'

### ùëúùëüùëë-ùëê‚Ñéùëü

In [3]:
ord('p')  # It will provide ascii value of char

112

In [4]:
ord('P')

80

In [5]:
string1='python'
max(string1),min(string1)

('y', 'h')

In [6]:
ord('p'),ord('y'),ord('t'),ord('h'),ord('o'),ord('n')

(112, 121, 116, 104, 111, 110)

In [7]:
chr(112),chr(121),chr(116),chr(104),chr(111),chr(110)

('p', 'y', 't', 'h', 'o', 'n')

In [12]:
string1='python'

for i in range(-len(string1),0):  
    print('the postive index of {} is {}'.format(string1[i],i+6))

the postive index of p is 0
the postive index of y is 1
the postive index of t is 2
the postive index of h is 3
the postive index of o is 4
the postive index of n is 5

In [13]:
for i in range(-len(string1),0):
    print("the negative index of {} is {}".format(string1[i],i))

the negative index of p is -6
the negative index of y is -5
the negative index of t is -4
the negative index of h is -3
the negative index of o is -2
the negative index of n is -1

In [14]:
for i in range(-len(string1),0):
    print("the postive index is {} and negative index is {} for {}".format(i+6,string1[i],i))

the postive index is 0 and negative index is p for -6
the postive index is 1 and negative index is y for -5
the postive index is 2 and negative index is t for -4
the postive index is 3 and negative index is h for -3
the postive index is 4 and negative index is o for -2
the postive index is 5 and negative index is n for -1

In [10]:
print(ord('p'))
print(ord('y'))
print(ord('t'))
print(ord('h'))
print(ord('o'))
print(ord('n'))

112
121
116
104
111
110

In [15]:
str1=' hello how are you '
str2=" hello how are you"
str3="hello how are you "
print(str1.strip())
print(str2.lstrip())
print(str3.rstrip())

hello how are you
hello how are you
hello how are you

#### split()

Splits the string at the specified separator, and returns a list.

In [20]:
str1='hai howw are you'
str1.split()

['hai', 'howw', 'are', 'you']

In [21]:
str1='hai how,are you'
str1.split(',')

['hai how', 'are you']

In [22]:
str1='hai how,are you'
str1.split('a')

['h', 'i how,', 're you']

In [23]:
str1='%%%hello%%%%'
str1.strip('%')

'hello'

#### startswith() and endswith()

Returns true if the string starts with the specified value.

Returns true if the string ends with the specified value.

In [16]:
str1='hai how are you'
str1.startswith('hai how are you')

True

In [17]:
str1.endswith('you')

True

In [18]:
str1.startswith(str1)

True

In [19]:
str1.endswith(str1)

True

#### isalpha()

Returns True if all characters in the string are in the alphabet.

In [28]:
str1='90haihello8888howareyou'
str1.isalpha()

False

#### isalnum()

Returns True if all characters in the string are alphanumeric.

In [24]:
str1='90hai hello 8 888how are you'
str1.isalnum()

False

In [27]:
str1='90haihello8888howareyou'
str1.isalnum()

True

#### isnumeric()

Returns True if all characters in the string are numeric.

In [29]:
str1='90haihello8888howareyou'
str1.isnumeric()

False

#### isascii()

Returns True if all characters in the string are ascii characters.

In [30]:
str1='90haihello8888howareyou'
str1.isascii()

True

In [31]:
str1='8888'
str1.isascii()

True

In [32]:
str1='abc'
str1.isascii()

True

In [2]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']