# TUPLE

Tuples are used to store multiple items in a single variable.

A tuple is a collection which is ordered and unchangeable. Tuples are written with round brackets ().

Example:

In [1]:
tup1=("apple","banana","cherry")
print(tup1)

('apple', 'banana', 'cherry')

In [2]:
a=( )       # empty tuple
a

()

In [3]:
b=(10,)      # tuple with one item , after 10 is necessary
b

(10,)

NOTE:- While creating the tuple b, if we do not use the comma after 10, b is treated to be of type int.

In [4]:
c=('Sanjay',25,34555.50)       # tuple with dissimilar items
c

('Sanjay', 25, 34555.5)

In [5]:
d=(10,20,30,40)         # tuple with similar items
d

(10, 20, 30, 40)

### Tuple Items

Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

- When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.
- Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.
- Since tuples are indexed, they can have items with the same value:

In [6]:
tup2=("apple","banana","cherry","apple","cherry")
print(tup2)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [7]:
A=(10,)*5              # stores (10, 10, 10, 10, 10)
A

(10, 10, 10, 10, 10)

In [10]:
tup4=('Handle','Exceptions','Like','a','boss')
print(tup4[1],tup4[3])

Exceptions a

### Length

To determine how many items a tuple has, use the len() function:

Example:

In [11]:
tup5=("apple","banana","cherry")
len(tup5)

3

### type()

Tuples are defined as objects with the data type 'tuple':
    
<class 'tuple'>

Example:
    
What is the data type of a tuple?

In [12]:
tup6=("apple","banana","cherry")
type(tup6)

tuple

In [19]:
tupl6=(10,)
type(tupl6)

tuple

### Negative Indexing

Negative indexing means start from the end.

-1 refers to the last item, -2 refers to the second last item etc.

Example:
    
Print the last item of the tuple:

In [13]:
tup7=("apple", "banana", "cherry")
tup7[-1]

'cherry'

### Range of Indexes

You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new tuple with the specified items.

Example:
    
Return the third, fourth, and fifth item,

In [14]:
tup8=("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
tup8[2:5]

# Note: The search will start at index 2 (included) and end at index 5 (not included).

('cherry', 'orange', 'kiwi')

By leaving out the start value, the range will start at the first item.

Example:

In [15]:
tup9=("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
tup9[:4]

('apple', 'banana', 'cherry', 'orange')

By leaving out the end value, the range will go on to the end of the tuple.

Example:

In [16]:
tup9=("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
tup9[2:]

('cherry', 'orange', 'kiwi', 'melon', 'mango')

#### Range of Negative Indexes

Specify negative indexes if you want to start the search from the end of the tuple.

Example:

In [17]:
tup10=("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
tup10[-4:-1]

# returns the items from index -4 (included) to index -1 (excluded)

('orange', 'kiwi', 'melon')

In [15]:
tuple11=('Sanjay',23,23000,1760,2040,135.7,True)
tuple11

('Sanjay', 23, 23000, 1760, 2040, 135.7, True)

In [16]:
tuple11[::2]

('Sanjay', 23000, 2040, True)

In [17]:
tuple11[-1:-len(tuple11):-1]

(True, 135.7, 2040, 1760, 23000, 23)

In [18]:
tuple11[-1::-2]

(True, 2040, 23000, 'Sanjay')

### IN

To determine if a specified item is present in a tuple use the in keyword.

Example:

Check if "apple" is present in the tuple.

In [18]:
tup11=("apple","banana","cherry")
if "apple" in tup11:
    print("Yes, 'apple' is in tup11")

Yes, 'apple' is in tup11

##  Mutability 

A tuple is immutable, i.e. it cannot be modified.

In [19]:
tup=('Fall', 'In', 'Line')
tup[0]='FALL'               # error
tup

TypeError: 'tuple' object does not support item assignment

In [20]:
tup[1:3]=('Above','Mark')      # error
tup

TypeError: 'tuple' object does not support item assignment

Though a tuple itself is immutable, it can contain mutable objects like lists.

If a tuple contains a list, the list can be modified since list is a mutable object.

In [21]:
tup12=([1,2,3,4],[10,20],'Oynx')
tup12[1][1]=45          # changes first item of first list, i.e. 20
print(tup12)

([1, 2, 3, 4], [10, 45], 'Oynx')

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

Example:

In [22]:
x=("apple","banana","cherry")
y=list(x)
y[1]="kiwi"
x=tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

## Loop

In [ ]:
You can loop through the tuple items by using a for loop.

Example:

In [23]:
tup=("apple","banana","cherry")
for i in tup:
    print(i)

apple
banana
cherry

In [24]:
tup=("apple","banana","cherry")
for i in range(len(tup)):
    print(tup[i])

apple
banana
cherry

In [25]:
tup=("apple","banana","cherry")
i=0
while i< len(tup):
    print(tup[i])
    i=i+1

apple
banana
cherry

## Concatenation

#### Join Two Tuples

To join two or more tuples you can use the + operator.

Example:

In [26]:
tuple1=("a","b","c")
tuple2=(1,2,3)

tuple3=tuple1+tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

#### Multiply Tuples

If you want to multiply the content of a tuple a given number of times, you can use the * operator.

Example:

In [27]:
tuple3=("apple", "banana", "cherry")
mul=tuple3*2

print(mul)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

## Tuple method

Many built-in functions can be used with tuples.

In [1]:
t = (12, 15, 13, 23, 22, 16, 17)

#### max() and min()

In [2]:
max(t) # return maximum element in tuple t

23

In [3]:
min(t) # return minimum element in tuple t

12

#### sum

In [4]:
sum(t) # return sum of all elements in tuple t

118

#### any

In [5]:
any(t)   # return True if any element of tpl is True

True

#### all

In [6]:
all(t) # return True if all elements of tpl are True

True

#### sorted

In [7]:
sorted(t)      # return sorted list (not sorted tuple)

[12, 13, 15, 16, 17, 22, 23]

#### reversed

In [8]:
reversed(t)       # used for reversing t

#### append

Since tuples are immutable, they do not have a built-in append() method.

#### count()

Returns the number of times a specified value occurs in a tuple

In [9]:
t.count(22)

1

#### Index

In [10]:
t.index(22)

4

#### del

In [11]:
del t

In [12]:
t

NameError: name 't' is not defined

In [13]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']